[submodule "ares"]
	path = ares
	url = https://github.com/HailToDodongo/ares-wasm.git
	branch = wasm
[submodule "parallel-rdp"]
	path = parallel-rdp
	url = https://github.com/Themaister/parallel-rdp-standalone.git
